* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    color: #f1f1f1;
  }
  
  /* Style the header */
  header {
    background-color: rgb(46, 46, 46);
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: cursive;
  }

  h2 {
    font-family: tahoma;
  }

  p {
    font-family: Georgia;
  }

  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    height: 282px; /* only for demonstration, should be removed */
    background-color: rgb(63, 63, 63);
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
    font-family: cursive;
  }
  
  a {
    color: rgb(173, 173, 173);
  }
  
  a:hover {
    text-decoration: none;
  }

  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #222222;
    /*height: 300px;*/ /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: rgb(63, 63, 63);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 12px;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  .dark-mode {
    position: absolute;
    left: 90%;
    top: 2%;
    width: 40pt;
    height: 40pt;
  }

  .sweet-mode {
    position: absolute;
    left: 80%;
    top: 2%;
    width: 40pt;
    height: 40pt;
  }

  @keyframes example {
    from {
      width:0px;
      transform: rotate(180deg);
    }
    to {
      width: 250px;
      transform: rotate(0deg);
    }
  }

  #kittycat {
    width: 250px;
    animation-name: example;
    animation-duration: 2s;
  }