* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: rgb(255, 202, 251);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
  }

  h1 {
    font-size: 25px;
    font-family: tahoma, sans-serif;
  }

  h2,p {
    font-family: Georgia, serif;
  }

  h2 {
    font-size: 20px;
  }

  p {
    padding-left: 8px;
  }

  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
    font-family: tahoma, sans-serif;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    /* only for demonstration, should be removed */
    /*height: 300px;*/ /*should be removed*/
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: right;
    color: white;
    font-size: 10px;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  @keyframes example {
    from {width:0px;}
    to {width: 250px;}
  }

  #kittycat {
    width: 250px;
    animation-name: example;
    animation-duration: 2s;
  }